#p-de-prueba{
    border: solid 5px rgb(255, 204, 204);
    border-radius: 20px;
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}

/* La propiedad border-width con tamaño especifico*/
p.uno {
    border-style: solid;
    border-width: 5px 20px;
    /* 5px top and bottom, 20px on the sides */
}

p.dos {
    border-style: solid;
    border-width: 20px 5px;
    /* 20px top and bottom, 5px on the sides */
}

p.tres {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    /* 25px top, 10px right, 4px bottom and 35px left */
}

.figure{
    padding: 4px;
}

.img{
    width: 250px;
}

#labrador{
    border: 3px dashed black;
}

#border{
    border-style: groove;
    border-width: 20px 15px;
    border-color: aqua;
}

#pastor{
    border-style: inset solid dotted outset;
    border-width: 20px 50px 15px 30px;
    border-radius: 20px;
    border-color: aquamarine;
}

#husky{
    border-radius: 80px;
    border-style: outset;
    border-color: brown;
    border-width: 12px;
}

#doberman{
    border: #f4842f 5px dotted
}